/* generic */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: sans-serif;
}

clearfix::after{
    display:table;
    content:"";
    clear:both;
}

.container{
    max-width: 1200px;
    margin: 0 auto; 
}

.text-center{
    text-align: center;
}

.col{
    float:left
}

.w-20{
    width:20%;
}

.w-60{
    width:60%;
}

.button{
    padding:10px 15px;
    margin:0 20px;
    text-decoration: none;
    border-radius: 20px;
}

.button.button-white{
    background-color: white;
    color: black;
}

.button.button-white:hover{
    background-color: white;
    color:royalblue;
}

/* header */

header{
    background-color:royalblue;
    color:white;
}

#logo{
    vertical-align: middle;
}

.navbar{
    height:100px;
    line-height: 100px;
}

.navbar .textredirect a{
color:white;
text-decoration: none;
}

.navbar .textredirect a:hover{
    text-decoration: underline;
}

.navbar .textredirect, .navbar .textredirect li {
    display: inline-block;
    font-size: 16px;
}

.navbar .textredirect li {
    margin:0 20px;
}